@model todoApp.Models.ViewModel.TodoViewModel;

<div>
    <table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <span>Task</span>
            </th>
            <th class="text-center">
                <span>Status</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TodoList){
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="text-center">
                        @if (item.Status == "In Progress")
                        {
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Complete</a>
                        }
                        else
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">In Progress</a>
                        }
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>